@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-[#5a3e26];
  }
  
  body {
    @apply bg-[#f7f2ed] text-[#362517];
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
